@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

@font-face {
    font-family: 'Amsterdam One';
    src: url('./fonts/amsterdam-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root {
  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 12px;
  --fc-day-today-bg-color: #f0f0f0;
  --fc-button-bg-color: rgb(168 90 61);
  --fc-button-border-color: rgb(168 90 61);
  --fc-button-hover-bg-color:rgb(168 90 61);
  --fc-button-hover-border-color: rgb(168 90 61);
  --fc-button-active-bg-color: rgb(168 90 61);
  --fc-button-active-border-color: rgb(168 90 61);
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(96 220 216 / 15%);
}

.fc .fc-button-primary {
    background-color: rgb(189 115 80);
    border-color: rgb(189 115 80);
    color: var(--fc-button-text-color);
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: rgb(168 90 61);
    border-color: rgb(168 90 61);
    color: var(--fc-button-text-color);
}

.fc .fc-button-primary:disabled {
    background-color: rgb(168 90 61);
    border-color: rgb(168 90 61);
    color: var(--fc-button-text-color);
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    margin: 0px;
}

.fc .fc-button {
    border: 1px solid transparent;
    border-radius: 0.25em;
    display: inline-block;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

.fc-daygrid-event {
    border-radius: 3px;
    font-size: 10px;
    position: relative;
    white-space: nowrap;
}

.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--fc-event-border-color);
    border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
    box-sizing: content-box;
    height: 0px;
    margin: 0px 4px;
    width: 0px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 5em;
    position: relative;
}

.animation-expand {
    animation: expand .5s ease-in-out;
}

.animation-reduce {
    animation: reduce .5s ease-in-out;
}

@keyframes expand {
    from {
        width: 25%;
    }
    to {
        width: 100%;
    }
}
@keyframes reduce {
    from {
        width: 100%;
    }
    to {
        width: 25%;
    }
}